.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 80%;
  margin: 20px auto 50px;
}

.header__title {
  margin: 0;
}

.header__button_add {
  color: #fff;
  width: 150px;
  height: 35px;
  background-color: green;
  border: none;
  border-radius: 20px;
  opacity: 0.8;
}

.header__button_add:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

table {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
  opacity: 1;
}

th:hover {
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

td {
  vertical-align: top;
}

.tr__hidden {
  display: none;
  visibility: hidden;
}

.table__button_delete {
  background-color: rgb(241, 30, 30);
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.stock__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.stock__form_input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid grey;
}

.stock__form_submit {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(36, 122, 58);
  color: azure;
  cursor: pointer;
  opacity: 1;
}

.stock__form_submit:hover {
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
}

.loader {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #333 transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
